---
import SingleViewLayout from "../layouts/BaseLayout.astro";
---

<SingleViewLayout title="Odin Rune">
  <h1 class="text-slate-950 text-3xl font-mono font-bold py-8">Hello World</h1>
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Delectus
    blanditiis suscipit recusandae ea iusto provident sapiente ipsum, totam
    sequi. Nihil sunt, delectus veritatis consequatur aut quidem eos! Nobis,
    repudiandae dolor. Lorem ipsum dolor sit amet consectetur adipisicing elit.
    Magnam dicta et repellendus sapiente perspiciatis temporibus molestias
    similique aliquam veniam, facilis laudantium, quasi officia nam fugit
    expedita porro. Recusandae, ullam laudantium? Lorem ipsum dolor, sit amet
    consectetur adipisicing elit. Ducimus recusandae natus possimus fugit
    delectus provident sequi sint? Vel accusantium aspernatur sapiente delectus
    earum repudiandae modi, nam, magnam sunt eius dolorum.
  </p>
  <br />
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste tempora optio
    aliquam, facere, facilis ab, voluptates quam vel reprehenderit eum vero
    consequuntur aperiam ipsa temporibus hic porro repellat eaque eius. Lorem
    ipsum dolor sit amet consectetur adipisicing elit. Ut tempore sunt quo
    ratione sed, omnis dolorem minima, explicabo blanditiis cumque nemo
    consequuntur, quibusdam voluptatibus facere ipsum quas voluptatum atque
    nobis? Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sed
    repellendus deleniti quaerat, harum est dolores nesciunt cupiditate ducimus
    dolorem quisquam aperiam libero, accusamus, accusantium et quasi sit
    repudiandae facilis doloribus.
  </p>
</SingleViewLayout>
