---
import HeaderLink from "./HeaderLink.astro";

const pages = await Astro.glob("../pages/**/*.astro");

export { pages };
---

<div class="flex-initial px-4 py-4">
  <nav class="flex flex-row gap-4 w-full h-full">
    {
      pages.map((page) => {
        // Remove broken URLS and urls for dynamic pages
        if (page.url === undefined || page.url.includes("...")) {
          return;
        } else {
          // Create Page Link Button using address for title
          const lastWord = page.url.split("/").pop();
          if (lastWord === undefined) {
            return;
          }
          let name = lastWord.charAt(0).toUpperCase() + lastWord.slice(1);
          let url = page.url;
          // Home page is the only page with a url of "/"
          if (name.trim() === "") {
            name = "Home";
            url = "/";
          }
          return <HeaderLink href={url}>{name}</HeaderLink>;
        }
      })
    }
  </nav>
</div>
