---
import BaseLayout from "./BaseLayout.astro";
import AlbumItem from "../components/AlbumItem.astro";

const { items, title } = Astro.props;
---

<BaseLayout title={title}>
  <h1 class="text-center rounded-lg py-4 bg-stone-500 bg-opacity-90 mx-4">
    {title}
  </h1>
  <div class="flex flex-row flex-wrap py-4 gap-4 px-4">
    {items.map((item) => <AlbumItem item={item} />)}
  </div>
</BaseLayout>
