---
const { title } = Astro.props;

import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---

<script is:inline>
const theme = (() => {
  if (typeof localStorage !== "undefined" && localStorage.getItem("theme")) {
    return localStorage.getItem("theme");
  }
  if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
    return "dark";
  }
  return "light";
})();

if (theme === "light") {
  document.documentElement.classList.remove("dark");
} else {
  document.documentElement.classList.add("dark");
}
window.localStorage.setItem("theme", theme);
</script>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <style>
      html,
      body {
        height: 100%;
        margin: 0;
        background-image: url("background.png");
      }
    </style>
  </head>
  <body>
    <div
      class="box dark:bg-opacity-70 dark:bg-black h-screen
      [&_*]:font-mono
      [&_h1]:text-3xl [&_h1]:font-bold"
    >
      <div class="flex flex-col w-full mx-auto">
        <Header />
        <div class="flex-auto">
          <slot />
        </div>
        <Footer />
      </div>
    </div>
  </body>
</html>
