---
import BaseLayout from "./BaseLayout.astro";

const { title } = Astro.props;
---

<BaseLayout title={title}>
  <div
    class="bg-stone-500 bg-opacity-90 m-4 rounded-lg
    [&>p]:p-4
    [&>h1]:py-8
    [&>*]:text-center [&>*]:text-slate-950"
  >
    <slot />
  </div>
</BaseLayout>
